trunk/Web/gen/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="findnexus" type="findNexusResponse"/>

  <xs:complexType name="oneElement">
    <xs:sequence>
      <xs:element name="path" type="xs:string" minOccurs="0"/>
      <xs:element name="prop" type="xs:string" minOccurs="0"/>
      <xs:element name="run" type="xs:int"/>
      <xs:element name="coll" type="xs:string" minOccurs="0"/>
      <xs:element name="inst" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findNexusResponse">
    <xs:sequence>
      <xs:element name="file" type="oneElement" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

